<!--<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <span class="text-muted">### footer xD &copy; Copyright 2019 Baldvin, Hieu, Sunna, Þórdís</span>
    </div>
</div>-->


<!-- Footer -->
<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" class="page-footer font-small stylish-color-dark pt-4">
    <style>
        .page-footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: transparent;background-color: rgba(0,0,0,0.8);
            height: 80px;
        }
        .footer-copyright {
            color: #FFFFFF;
        }
        .footer-link {
            color: #FFFFFF;
        }
        .mb-1 {
            color: #FFFFFF;
        }
    </style>

    <!-- Call to action -->
    <ul th:if="${loggedIn == null}" class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
            <a href="/newAccount" class="btn btn-primary btn-rounded">Sign up!</a>
        </li>
    </ul>
    <!-- Call to action -->



    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a class="footer-link" href="/aboutus"> Baldvin, Hieu, Sunna, Þórdís</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->