<!--<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <span class="text-muted">### footer xD &copy; Copyright 2019 Baldvin, Hieu, Sunna, Þórdís</span>
    </div>
</div>-->


<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
            <a href="/newAccount" class="btn btn-danger btn-rounded">Sign up!</a>
        </li>
    </ul>
    <!-- Call to action -->

    <hr>


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.google.com/search?sxsrf=ACYBGNQeGzaIXaMs3qRy9UjAtmhv2vT_dQ%3A1573642635796&ei=i-HLXbqZMIzFgQa1gb6IBA&q=Baldvin%2C+Hieu%2C+Sunna%2C+%C3%9E%C3%B3rd%C3%ADs+er+bestur&oq=Baldvin%2C+Hieu%2C+Sunna%2C+%C3%9E%C3%B3rd%C3%ADs+er+bestur&gs_l=psy-ab.3...2358.4969..5382...0.0..0.132.1024.6j4......0....1..gws-wiz.......35i39j33i160j33i21.jF8JyDTyPPA&ved=0ahUKEwj6ir3Sg-flAhWMYsAKHbWAD0EQ4dUDCAs&uact=5"> Baldvin, Hieu, Sunna, Þórdís</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->