<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <style>
            body { padding-top: 70px; }
            .navbar .navbar-brand {padding: 5px 15px;  }
            .navbar .navbar-brand img {display: inline-block;}
        </style>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../">
                    <img src="https://notendur.hi.is/hvp5/logo.png" alt="Logo" width="105.291667" height="42"/>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/all-books">View all books</a></li>
                    <!--<li><a href="/search">Search for a book</a></li>-->

                    <li><form action="#" th:action="@{/search}" th:object="${book}"  method="post" class="navbar-form">
                        <select name="status" class="form-control">
                            <option value="For sale">For sale</option>
                            <option value="Requested">Requested</option>
                        </select>
                        <select name="searchBy" class="form-control">
                            <option value="0">Title</option>
                            <option value="1">Author</option>
                        </select>
                        <div class="form-group">
                        <input type="text" name="search" id="search" th:value="${search}" class="form-control" placeholder="Search"/>
                        <button type="submit" value="Search" class="btn btn-default">Submit</button>
                        </div>
                    </form></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login" class="glyphicon glyphicon-log-in"> Login</a></li>
                    <li><a href="/newAccount">Sign Up</a></li>
                    <li><a href="/users" class="glyphicon glyphicon-user"> All Users</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>