<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" th="https://thymeleaf.org">
<head>
    <title>Add book</title>
    <style>
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn {
            width: 130px;
            margin: 20px;
        }
    </style>
</head>


<body>
<div layout:fragment="content" class="container">

    <a class="btn btn-primary btn-lg" href="/addbookforsale" role="button">Sell a Book</a>
    <a class="btn btn-primary btn-lg" href="addrequestbook" role="button">Request a Book</a>

</div>
</body>

</html>