<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bókamarkaður</title>
</head>
<body>
<h1>Bókamarkaður - Skiptibók fyrir háskólanemi eins og þú</h1>
<div class="logo">
    <!--<a href="Home.html" title="">-->
    <img src="../images/logo.png" alt="Logo" width="252" height="33"/>
    <!--</a>-->
</div>
<div th:switch="${books}">
    <h2 th:case="null">No books yet!</h2>
    <div th:case="*">
        <h2>Books</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Edition</th>
                <th>Condition</th>
                <th>Subject</th>
                <th>Price</th>
                <th>Status</th>
                <th>Delete</th>
                <th>Information</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.edition}"></td>
                <td th:text="${book.condition}"></td>
                <td><a th:href="@{/viewsubjectbooks/{id}(id=${book.subjects})}" th:text="${book.subjects}"></a></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.status}"></td>
                <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
                <td><a th:href="@{/viewbook/{id}(id=${book.id})}">View book</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<p><a href="../">Return to frontpage</a></p>
<p><a href="/newbook">Add a new book</a></p>
<p><a href="/loginform">Login</a></p>
<p><a href="/newAccount">Create a new account</a></p>
<p><a href="/search">Search for a book</a></p>

<div class="cart-items"> <p class="center">Karfa er tomt</p> </div>

<footer>
    <div class="footer-col col-md-3 col-sm-12 contact">
        <div class="footer-col-inner">
            <h3 class="title">Hafa samband</h3>
            <div class="row">
                <p></i><a href="mailto:hi@hi.is">hi@hi.is</a></p>
                <p></i><a href="hafasamband">Senda skilaboð</a></p>
            </div>
        </div>
    </div>
    <a>&copy; Copyright 2019 Baldvin, Hieu, Sunna, Thordis</a>
</footer>


</html>