<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" th="https://thymeleaf.org">
<head>
    <title>Book exchange market for students</title>
    <style>
        .image{
            width: 50%;
            height: auto;
        }
    </style>
</head>


<body>
<div layout:fragment="content" class="container">


<div th:switch="${books}">
    <h2 th:case="null">No books yet!</h2>
    <div th:case="*">
        <h2>Books</h2>
        <table class="table  table-hover">
            <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Edition</th>
                <th>Condition</th>
                <th>Subject</th>
                <th>Price</th>
                <th>Status</th>
                <th>Information</th>
                <th>User</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td>
                    <img th:if="${book.image != null}" th:src="${book.image}" class="image" alt="No Image"/>
                    <img th:if="${book.image == null}" th:src="nophoto.png" class="image" alt="No Image"/>
                </td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.edition}"></td>
                <td th:text="${book.condition}"></td>
                <td><a th:href="@{/viewsubjectbooks/{id}(id=${book.subjects})}" th:text="${book.subjects}"></a></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.status}"></td>
                <td><a th:href="@{/viewbook/{id}(id=${book.id})}">View book</a></td>
                <td><a th:href="@{/viewuser/{id}(id=${book.user})}" th:text="${book.user}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<p><a href="../">Return to frontpage</a></p>
<p><a href="/newbook">Add a new book</a></p>
<p><a href="/login">Login</a></p>
<p><a href="/newAccount">Create a new account</a></p>
<p><a href="/search">Search for a book</a></p>

</div>
</body>
</html>