<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bókamarkaður</title>
</head>
<body>
<h1>Bókamarkaður - Book exchange market for students</h1>
<div class="logo">
    <a href="/" title="">
        <img src="../images/logo.png" alt="Logo" width="252" height="33"/>
    </a>
</div>
<div th:switch="${books}">
    <h2 th:case="null">No books yet!</h2>
    <div th:case="*">
        <h2>Books</h2>
        <table>
            <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Edition</th>
                <th>Condition</th>
                <th>Subject</th>
                <th>Price</th>
                <th>Status</th>
                <th>Delete</th>
                <th>Information</th>
                <th>User</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td><img th:src="${book.image}"/></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.edition}"></td>
                <td th:text="${book.condition}"></td>
                <td><a th:href="@{/viewsubjectbooks/{id}(id=${book.subjects})}" th:text="${book.subjects}"></a></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.status}"></td>
                <!--/* TODO: Fjarlægja delete virkni */-->
                <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
                <td><a th:href="@{/viewbook/{id}(id=${book.id})}">View book</a></td>
                <!--<td th:text="${book.user}"></td>-->
                <td><a th:href="@{/viewuser/{id}(id=${book.user})}" th:text="${book.user}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<p><a href="../">Return to frontpage</a></p>
<p><a href="/newbook">Add a new book</a></p>
<p><a href="/login">Login</a></p>
<p><a href="/newAccount">Create a new account</a></p>
<p><a href="/search">Search for a book</a></p>

<footer>
    <div class="footer-col col-md-3 col-sm-12 contact">
        <div class="footer-col-inner">
            <h3 class="title">Contact</h3>
            <div class="row">
                <p></i><a href="mailto:hi@hi.is">hi@hi.is</a></p>
                <p></i><a href="hafasamband">Contact us</a></p>
            </div>
        </div>
    </div>
    <a>&copy; Copyright 2019 Baldvin, Hieu, Sunna, Thordis</a>
</footer>


</html>