<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Information</title>
</head>
<body>
    <h2>Book Information</h2>
    <div>
        <label><b>Title</b></label>
        <label><td th:text="${book.title}"></td></label>
    </div>
    <div>
        <label><b>Author</b></label>
        <label><td th:text="${book.author}"></td></label>
    </div>
    <div>
        <label><b>Edition</b></label>
        <label><td th:text="${book.edition}"></td></label>
    </div>
    <div>
        <label><b>Condition</b></label>
        <label><td th:text="${book.condition}"></td></label>
    </div>
    <div>
        <label><b>Price</b></label>
        <label><td th:text="${book.price}"></td></label>
    </div>
    <div>
        <label><b>Subject</b></label>
        <label><td th:text="${book.subjects}"></td></label>
    </div>
    <div>
        <label><b>Status</b></label>
        <label><td th:text="${book.status}"></td></label>
    </div>
    <div>
        <label><b>User</b></label>
        <label><td th:text="${book.user}"></td></label>
    </div>

    <input action="#" th:action="@{/requestbook}" th:object="${book}" method="post" type="submit" value="Submit">

    <p><a href="/">Return to frontpage</a></p>

</body>
</html>
