<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" th="https://thymeleaf.org">
<head>
    <title>Book Information</title>
</head>


<body>
    <div layout:fragment="content" class="container">
        <h2>Book Information</h2>
        <div>
            <label><b>Title</b></label>
            <label><td th:text="${book.title}"></td></label>
        </div>
        <div>
            <label><b>Author</b></label>
            <label><td th:text="${book.author}"></td></label>
        </div>
        <div>
            <label><b>Edition</b></label>
            <label><td th:text="${book.edition}"></td></label>
        </div>
        <div>
            <label><b>Condition</b></label>
            <label><td th:text="${book.condition}"></td></label>
        </div>
        <div>
            <label><b>Price</b></label>
            <label><td th:text="${book.price}"></td></label>
        </div>
        <div>
            <label><b>Subject</b></label>
            <label><td th:text="${book.subjects}"></td></label>
        </div>
        <div>
            <label><b>Status</b></label>
            <label><td th:text="${book.status}"></td></label>
        </div>
        <div>
            <label><b>User</b></label>
            <label><td><a th:href="@{/viewuser/{id}(id=${book.user})}" th:text="${book.user}"></a></td></label>
        </div>
        <div>
            <label><b>Request book</b></label>
            <label><td><a th:href="@{/messageBook/{id}(id=${book.id})}" th:text="${book.id}"></a></td></label>
        </div>
    </div>
<!--
    <div>
        <form action="#" th:action="@{/sendRequest}" th:object="${message}" method="get">
            <label>Do you want to buy/sell this book? Let the user know!</label>
                <input type="submit" value="Submit">
        </form>
    </div>
-->


    <p><a href="/">Return to frontpage</a></p>

</body>

</html>
