<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}"
      xmlns:th="http://www.w3.org/1999/xhtml" th="https://thymeleaf.org">
<head>

    <script>

        $(document).ready(function () {
            $("#first").addClass('scroll_item_active');
            var main = main = $('#scroll');
            $('.scroll_item').click(function (event) {

                event.preventDefault();
                var trgt = $(this).attr('id') + "1";
                target_offset = $('#' + trgt).offset(),
                    target_top = target_offset.top;
                $('html, body').animate({
                    scrollTop: target_top
                }, 500);
                main.children().removeClass('scroll_item_active');

                $(this).addClass('scroll_item_active');

            });

            $(window).scroll(function (event) {
                if ($("#first1").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
                    $("#first").addClass('scroll_item_active');
                    $("#second").removeClass('scroll_item_active');
                    $("#third").removeClass('scroll_item_active');
                    $("#fourth").removeClass('scroll_item_active');
                }
                if ($("#second1").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
                    $("#second").addClass('scroll_item_active');
                    $("#first").removeClass('scroll_item_active');
                    $("#third").removeClass('scroll_item_active');
                    $("#fourth").removeClass('scroll_item_active');

                }
                if ($("#third1").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
                    $("#third").addClass('scroll_item_active');
                    $("#first").removeClass('scroll_item_active');
                    $("#second").removeClass('scroll_item_active');
                    $("#fourth").removeClass('scroll_item_active');
                }
                if ($("#fourth1").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
                    $("#fourth").addClass('scroll_item_active');
                    $("#first").removeClass('scroll_item_active');
                    $("#second").removeClass('scroll_item_active');
                    $("#third").removeClass('scroll_item_active');
                }
            });
        });

    </script>
    <title>Bókamarkaður</title>
    <style>
        div {box-sizing: border-box;}

        .image {
            width: 90%;
            height: auto;
        }

        .itable {
            display: inline-table;
        }

        .cell {
            display: table-cell;
            background-color: transparent;
            border-color: transparent;
        }
        .wrapper > span {
            padding: 14px;
        }
        .scrollfield{
            overflow: scroll;
            overflow-y: hidden;
        }

    </style>
</head>


<body>
<div layout:fragment="content" class="container">
    <h1>Bókamarkaður - Book exchange market for students</h1>
<!--
    <br>
    <h3>Recently added</h3>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Information</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><img th:src="${book.image}" class="image" alt="No Image"/></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.status}"></td>
            <td><a th:href="@{/viewbook/{id}(id=${book.id})}">View book</a></td>
        </tr>
        </tbody>
    </table>
    <br>
-->


<div class="container">

    <fieldset class="scrollfield">



        <div class="itable wrapper" >
    <table width=200  th:each="book : ${books}" class="books">
        <span class="cell" >
        <tr>
            <td>
                <p><a th:href="@{/viewbook/{id}(id=${book.id})}"><img th:src="${book.image}" class="image" alt="No Image"/></a></p>
            </td>
        </tr>
        <tr>
            <p><td th:text="${book.title}"></td></p>
        </tr>

        <tr>
            <div id="my_box">
                <p><td th:text="${book.author}"></td></p>
            </div>
        </tr>

        <tr>
            <p><td th:text="${book.price}"></td></p>
        </tr>
        </span>
    </table>
        </div>
    </fieldset>
</div>
<!--
    <h3>Current subjects available</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Subject</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${subjectBooks}">
            <td><a th:href="@{/viewsubjectbooks/{id}(id=${book.subjects})}" th:text="${book.subjects}"></a></td>
        </tr>
        </tbody>
    </table>

    <p><a href="/newbook">Add a new book</a></p>
    <p><a href="/updateUserInfo">Update your profile information</a></p>
    <p><a href="/myBooks">My Books</a></p>
    <p><a href="/logout">Logout</a></p>

-->
    <div class="jumbotron">
    <!--<p><a href="/all-books">View all books</a></p>
    <p><a href="/newbook">Add a new book</a></p>
    <p><a href="/login">Login</a></p>
    <p><a href="/newAccount">Create a new account</a></p>
    <p><a href="/search">Search for a book</a></p>
    <p><a href="/users">View all users</a></p>-->


        </div>
    </div>
</div>
</body>

</html>