<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <fieldset>
        <legend>Login information</legend>
        <div>
            <label>
                Username: <input type="text" required>
            </label>
        </div>
        <div>
            <label>
                Password: <input type="password" required>
            </label>
        </div>
    </fieldset>
    <input type="submit" value="Login">

    <p><a href="/">Return to frontpage</a></p>

</body>
</html>