<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" th="https://thymeleaf.org">
<head>
    <title>Login</title>
</head>


<body>
<div layout:fragment="content" class="container">


<h2>Login to your account</h2>
<form action="#" th:action="@{/login}" th:object="${user}"  method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" th:field="*{username}" placeholder="Enter your username" class="form-control"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" th:value="*{password}" placeholder="Enter your passwords" class="form-control"/>
    </div>
    <input type="submit" value="Login" class="btn btn-default"/>
</form>
<p><a href="/">Return to frontpage</a></p>
</div>
</body>

<footer>
    <div class="footer-col col-md-3 col-sm-12 contact">
        <div class="footer-col-inner">
            <h3 class="title">Contact</h3>
            <div class="row">
                <p></i><a href="mailto:hi@hi.is">hi@hi.is</a></p>
                <p></i><a href="hafasamband">Contact Us</a></p>
            </div>
        </div>
    </div>
    <a>&copy; Copyright 2019 Baldvin, Hieu, Sunna, Thordis</a>
</footer>
</html>

