<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" th="https://thymeleaf.org">
<head>
    <title>Book exchange market for students</title>
</head>


<body>
<div layout:fragment="content" class="container">

<fieldset>
        <form action="#" th:action="@{/newAccount}" th:object="${user}" method="post">
            <legend>Create a user account</legend>
            <div>
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name" required>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" th:field="*{email}" id="email" placeholder="Email" required>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div>
                <label for="username">Username</label>
                <input type="text" th:field="*{username}" id="username" placeholder="Username" required>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" id="password" placeholder="Password" required>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div>
                <label>
                    Reenter password: <input type="password" required>
                </label>
            </div>
            <input type="submit" value="Confirm">
        </form>
    </fieldset>

    <p><a href="/">Return to frontpage</a></p>
    </div>
</body>

<footer>
    <div class="footer-col col-md-3 col-sm-12 contact">
        <div class="footer-col-inner">
            <h3 class="title">Contact</h3>
            <div class="row">
                <p></i><a href="mailto:hi@hi.is">hi@hi.is</a></p>
                <p></i><a href="hafasamband">Contact Us</a></p>
            </div>
        </div>
    </div>
    <a>&copy; Copyright 2019 Baldvin, Hieu, Sunna, Thordis</a>
</footer>
</html>