<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <fieldset>
        <legend>Create a user account</legend>
        <div>
            <label>
                Name: <input type="text" required>
            </label>
        </div>
        <div>
            <label>
                email: <input type="email" required>
            </label>
        </div>
        <div>
            <label>
                Username: <input type="text" required>
            </label>
        </div>
        <div>
            <label>
                Password: <input type="password" required>
            </label>
        </div>
        <div>
            <label>
                Reenter password: <input type="password" required>
            </label>
        </div>
    </fieldset>
    <input type="submit" value="Confirm">

    <p><a href="/">Return to Bókamarkaður</a></p>
</body>
</html>