<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" th="https://thymeleaf.org">
<head>
    <title>Sell Book</title>
    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h2 {
        margin-bottom: 20px;
      }
      .btn {
        margin-bottom: 20px;
      }
  </style>
</head>


<body>
  <div layout:fragment="content" class="container">
    <div class="jumbotron">
    <h2>Add book for sale</h2>
      <form action="#" th:action="@{/addbookforsale}" th:object="${book}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" th:field="*{title}" id="title" placeholder="Title" required>
          <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" th:field="*{author}" id="author" placeholder="Author" required>
          <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
        </div>
        <div class="form-group">
          <label for="edition">Edition</label>
          <input type="text" th:field="*{edition}" id="edition" placeholder="Edition" required>
          <span th:if="${#fields.hasErrors('edition')}" th:errors="*{edition}"></span>
        </div>
        <div class="form-group">
          <label for="condition">Condition</label>
          <input type="text" th:field="*{condition}" id="condition" placeholder="Condition">
          <span th:if="${#fields.hasErrors('condition')}" th:errors="*{condition}"></span>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" th:field="*{price}" id="price" placeholder="Price">
        </div>
        <div class="form-group">
          <label for="subjects">Subject</label>
          <select th:field="*{subjects}">
          <option th:each="elem: ${T(is.hi.hbv501.bokamarkadur.bokamarkadur.Entities.Subjects).values()}"
            th:value="${elem}"
            th:text="${elem.name()}"
            id="subjects" />
          </select>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" name="file" id="image"/><br/><br/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
