<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" th="https://thymeleaf.org">
<head>
    <title>Update user infomation</title>
</head>


<body>
<div layout:fragment="content" class="container">

<h2>Update your profile information:</h2>
<form action="#" th:action="@{/updateUserInfo}" th:object="${user}" method="post">
    <label for="info">Tell us a little bit about yourself</label>
    <div>
        <textarea rows="4", cols="50" th:field="*{info}" id="info" placeholder="Information"></textarea>
        <span th:if="${#fields.hasErrors('info')}" th:errors="*{info}"></span>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>

<p><a href="/">Return to the frontpage</a></p>

</div>
</body>

<footer>
    <div class="footer-col col-md-3 col-sm-12 contact">
        <div class="footer-col-inner">
            <h3 class="title">Contact</h3>
            <div class="row">
                <p></i><a href="mailto:hi@hi.is">hi@hi.is</a></p>
                <p></i><a href="hafasamband">Contact Us</a></p>
            </div>
        </div>
    </div>
    <a>&copy; Copyright 2019 Baldvin, Hieu, Sunna, Thordis</a>
</footer>
</html>
