<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${users}">
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Name</th>
                <th>Information</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.name}"></td>
                <td th:textarea="${user.info}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/newAccount">Add a new user</a></p>
    <p><a href="/">Return to the frontpage</a></p>
</div>
</body>
</html>