<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" th="https://thymeleaf.org">
<head>
    <title>User Information - Edited !!!</title>
</head>


<body>
    <div layout:fragment="content" class="container">

    <h2><td th:text="${user.username}"></td></h2>
    <div>
        <label><b>Name: </b></label>
        <label><td th:text="${user.name}"></td></label>
    </div>
    <div>
        <label><b>Email: </b></label>
        <label><td th:text="${user.email}"></td></label>
    </div>
    <div>
        <label><b>Information: </b></label>
        <label><td th:text="${user.info}"></td></label>
    </div>
    <div>
        <label><b>Books:</b></label>
        <ul>
            <tr th:each="book : ${user.books}">
                <td><li><a th:href="@{/viewbook/{id}(id=${book.id})}" th:text="${book.title}">View book</a></li></td>
            </tr>
        </ul>

    </div>

    </div>
</body>

</html>
