<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" th="https://thymeleaf.org">
<head>
    <title>Welcome</title>
</head>


<body>
<div layout:fragment="content" class="container">


<div th:action="@{/newAccount}" th:object="${user}" method="post">
    <h2>Congratulations <label for="name"><td th:text="${user.name}" id="name" placeholder="Name"></td></label>!
        Now you can buy and sell used books as you please!</h2>
</div>
</div>
</body>

</html>